body

  nav.nav
    //- h1 #[span.sprite-logo] Отдел продаж
    span.sprite-logo #[h1 Отдел продаж]
  main

    section.main-section
      h1
        | Искусство обращения
        br
        | с недвижимостью
      p Недвижимость – это то, чем мы живём и то, что заставляет нас двигаться вперёд. Отвечаем за результат с 2015 года
      button(type="button") Получить планировки и цены

    +lazyPicture({
      src: `${baseDir}images/main-photo.webp`,
      alt: '',
    }).main-photo

    section.about
      .about__container
        h1
          | АН “Отдел продаж” - 15 лет
          br
          | на рынке Сочи
        hr
        p Более 15 лет наши специалисты в области недвижимости и права помогают покупать квартиры максимально безопасно и дешево
        .about__items
          .about__item
            h2 #[span 16] домов
            p Полностью заселены всеми довольными клиентами
          .about__item
            h2 #[span 3000] клиентов
            p Уже обратились к нам и поселились в своих квартирах
          .about__item
            h2 #[span 2000] человек
            p Переедут в Сочи благодаря нашим услугам и так далее
          .about__item
            h2 #[span 350+] сделок
            p Каждый день по всему Сочи

    section.offer
      .offer__photo
        h1
          | Получите выгодное
          br
          | предложение!
        p Более 15 лет наши специалисты в области недвижимости и права помогают покупать квартиры максимально безопасно и дешево
        form
          .form__items
            .form__item
              input(type="text", placeholder="+7 (___) ___-__-__")
            .form__item
              button(type="submit") Оставить заявку

    section.news
      h1 Наши заслуги
      hr
      .news__items
        .news__item
          h2 Выгодная ставка от 6,5% на покупку коммерческой недвижимости
          p Мы запустили программу субсидированной ипотеки для Сочинских предпринимателей малого и среднего бизнеса.
          .news__bottom-wrapper
            p 24.05.2022
            button(type="button")
              div Подробнее
        .news__item
          h2 Выгодная ставка от 6,5% на покупку коммерческой недвижимости
          p Мы запустили программу субсидированной ипотеки для Сочинских предпринимателей малого и среднего бизнеса.
          .news__bottom-wrapper
            p 24.05.2022
            button(type="button")
              div Подробнее
        .news__item
          h2 Выгодная ставка от 6,5% на покупку коммерческой недвижимости
          p Мы запустили программу субсидированной ипотеки для Сочинских предпринимателей малого и среднего бизнеса.
          .news__bottom-wrapper
            p 24.05.2022
            button(type="button")
              div Подробнее
        .news__item
          h2 Выгодная ставка от 6,5% на покупку коммерческой недвижимости
          p Мы запустили программу субсидированной ипотеки для Сочинских предпринимателей малого и среднего бизнеса.
          .news__bottom-wrapper
            p 24.05.2022
            button(type="button")
              div Подробнее
        .news__item
          h2 Выгодная ставка от 6,5% на покупку коммерческой недвижимости
          p Мы запустили программу субсидированной ипотеки для Сочинских предпринимателей малого и среднего бизнеса.
          .news__bottom-wrapper
            p 24.05.2022
            button(type="button")
              div Подробнее
        .news__item
          h2 Выгодная ставка от 6,5% на покупку коммерческой недвижимости
          p Мы запустили программу субсидированной ипотеки для Сочинских предпринимателей малого и среднего бизнеса.
          .news__bottom-wrapper
            p 24.05.2022
            button(type="button")
              div Подробнее

    section.contact
      h1 Контакты
      hr
      h2
        a(href="#")
        | +7 (495) 659-99-88
      p
        | г. Сочи,
        br
        | ул. Конституции СССР 4,
        br
        | 2 этаж, офис 224
      button(type="button") Обратный звонок
      span.sprite-icon-viber
      span.sprite-icon-phone
      span.sprite-icon-mail
      .contact__map