$sprites: (
	"callback": (
		normal: (
			x: 0,
			y: 0,
			width: 60,
			height: 60,
			image: "sprites.png",
			total_width: 165,
			total_height: 112,
		),
		retina: (
			x: 0,
			y: 0,
			width: 120,
			height: 120,
			image: "sprites@2x.png",
			total_width: 330,
			total_height: 224,
		),
	),
	"click-me-icon-left": (
		normal: (
			x: 62,
			y: 0,
			width: 51,
			height: 51,
			image: "sprites.png",
			total_width: 165,
			total_height: 112,
		),
		retina: (
			x: 124,
			y: 0,
			width: 102,
			height: 102,
			image: "sprites@2x.png",
			total_width: 330,
			total_height: 224,
		),
	),
	"click-me-icon-right": (
		normal: (
			x: 115,
			y: 90,
			width: 20,
			height: 20,
			image: "sprites.png",
			total_width: 165,
			total_height: 112,
		),
		retina: (
			x: 230,
			y: 180,
			width: 40,
			height: 40,
			image: "sprites@2x.png",
			total_width: 330,
			total_height: 224,
		),
	),
	"icon-mail": (
		normal: (
			x: 0,
			y: 62,
			width: 50,
			height: 50,
			image: "sprites.png",
			total_width: 165,
			total_height: 112,
		),
		retina: (
			x: 0,
			y: 124,
			width: 100,
			height: 100,
			image: "sprites@2x.png",
			total_width: 330,
			total_height: 224,
		),
	),
	"icon-phone": (
		normal: (
			x: 52,
			y: 62,
			width: 50,
			height: 50,
			image: "sprites.png",
			total_width: 165,
			total_height: 112,
		),
		retina: (
			x: 104,
			y: 124,
			width: 100,
			height: 100,
			image: "sprites@2x.png",
			total_width: 330,
			total_height: 224,
		),
	),
	"icon-viber": (
		normal: (
			x: 115,
			y: 0,
			width: 50,
			height: 50,
			image: "sprites.png",
			total_width: 165,
			total_height: 112,
		),
		retina: (
			x: 230,
			y: 0,
			width: 100,
			height: 100,
			image: "sprites@2x.png",
			total_width: 330,
			total_height: 224,
		),
	),
	"logo": (
		normal: (
			x: 115,
			y: 52,
			width: 41,
			height: 36,
			image: "sprites.png",
			total_width: 165,
			total_height: 112,
		),
		retina: (
			x: 230,
			y: 104,
			width: 82,
			height: 72,
			image: "sprites@2x.png",
			total_width: 330,
			total_height: 224,
		),
	),
	"nav-icon-phone": (
		normal: (
			x: 137,
			y: 90,
			width: 17,
			height: 19,
			image: "sprites.png",
			total_width: 165,
			total_height: 112,
		),
		retina: (
			x: 274,
			y: 180,
			width: 34,
			height: 38,
			image: "sprites@2x.png",
			total_width: 330,
			total_height: 224,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}
