// stylelint-disable at-rule-empty-line-before

@import "variables";
@import "functions";
@import "mixins";
@import "sprites";
@import "fonts";
@import "vendor";
@import "base";
@import "helpers";

@import "pages/home";

html {
  font-family: $font-primary;
  font-size: 14px;

  &.open {
    overflow: hidden;
  }
}

button {
  display: block;
  border: none;
  border-radius: 15px;
  padding: 18px 28px;
  color: #fff;
  background: #207FF1;
}

hr {
  margin-left: 0;
  border-top: 3px solid #207FF1;
  width: 105px;
}

// ----- Navigation section ----- //

// -- Mobile menu button -- //

.menu-btn {
  position: absolute;
  right: 20px;
  top: 31px;
  z-index: 1;
  width: 36px;
  height: 40px;
  cursor: pointer;

  &__burger {
    position: absolute;
    width: 36px;
    height: 2px;
    background: #000;

    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 10px;
      width: 20px;
      height: 2px;
      background: #000;
    }

    &.open {
      top: 10px;
      width: 32px;
      background: #bcbcbc;
      transform: rotate(45deg) translate(0px, 0px);

      &:after {
        width: 32px;
        background: #bcbcbc;
        transform: rotate(90deg) translate(-10px, 0px);
      }
    }
  }
}

// -- END Mobile menu button -- //

// -- Mobile menu overlay -- //

.mobile-menu-page {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: #fff;
  visibility: hidden;

  &__header {
    margin-bottom: 50px;
    border-bottom: 1px solid #eee;
    padding: 30px 20px 25px;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
  }

  &__body {
    padding: 0 20px;
  }

  .menu-nav {
    &__item {
      margin-bottom: 45px;
      font-size: 24px;
      line-height: 28px;
      color: #000;
    }
  }

  button {
    position: fixed;
    bottom: 20px;
    width: calc(100% - 40px);
  }

  &.open {
    visibility: visible;
  }
}

// -- END Mobile menu overlay -- //

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px 0px 30px 30px;
  padding: 22px 20px 18px;
  background: #F7FAFD;

  &__logo {
    display: flex;
    align-items: center;

    .sprite-logo {
      position: relative;
    }

    h1 {
      margin-top: 10px;
      margin-left: 15px;
      font-weight: 800;
      font-size: 16px;
      line-height: 18px;
      text-transform: uppercase;
    }
  }

  &__links {

    display: none;

    ul {

      li {
        display: inline-block;
        margin-right: 40px;
        font-size: 16px;
        line-height: 19px;
      }

      li:last-of-type {
        margin-right: 0;
      }
    }
  }

  &__contact {

    display: none;

    .wrapper {
      display: flex;
      align-items: baseline;

      font-weight: 600;
      font-size: 17px;
      line-height: 20px;

        .sprite-nav-icon-phone {
          position: relative;
          bottom: 2px;
        }

        span {
          margin-left: 10px;
        }
    }

    button {
      margin-left: 37px;
      border: 1px solid #207FF1;
      border-radius: 12px;
      padding: 10px 18px;
      font-size: 15px;
      line-height: 18px;
      color: #207FF1;
      background: #F7FAFD;
    }
  }
}

// ----- END Navigation section ----- //

// ----- Main section ----- //

.click-me {
  position: absolute;
  left: 10px;
  bottom: 10px;
  display: none;
  border-radius: 30px 15px 15px 5px;
  padding: 10px 40px 10px 15px;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.35);
  background: linear-gradient(90deg, #1F202E 0%, #3D3F56 100%);

  .wrapper {
    display: flex;
    align-items: center;
  }

  .sprite-click-me-icon-left {
    display: inline-block;
    margin-right: 15px;
  }

  h2 {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 3px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
  }

  h2 span:nth-of-type(2) {
    margin-right: 5px;
    margin-left: 5px;
    font-weight: 500;
  }

  p {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    opacity: 0.7;
  }

  .sprite-click-me-icon-right {
    position: absolute;
    right: 12px;
    top: 12px;
  }
}

.sprite-callback {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: none;
}

.main-section {
  padding: 24px 20px 74px;

  h1 {
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 26px;
    line-height: 31px;
  }

  p {
    margin-bottom: 40px;
    line-height: 22px;
    color: #2B2B2B;
    opacity: 0.9;
  }

  button {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
  }
}

// ----- END Main section ----- //

// ----- Photo section ----- //
.photo {
  height: 300px;
  background-image: url('../images/main-photo.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) { 
    background-image: url('../images/main-photo@2x.jpg');
  }
}

// ----- END Photo Section ----- //

// ----- About section ----- //

.about {

  &__container {
    padding: 25px 20px 21px;
    background: #F1F6FC;

    h1 {
      margin-bottom: 20px;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
    }

    hr {
      margin-bottom: 30px;
    }

    p {
      margin-bottom: 50px;
      line-height: 22px;
      color: #2B2B2B;
      opacity: 0.9;
    }
  }

  &__items {
    display: grid;
    grid-auto-rows: 1fr;
  }

  &__item {
    margin-bottom: 20px;
    border-radius: 30px;
    padding: 28px 30px 30px;
    background: #fff;

    span {
      font-weight: 600;
      font-size: 54px;
      line-height: 45px;
      line-height: 0;
      color: #207FF1;
    }

    h2 {
      font-weight: 600;
      font-size: 18px;
      line-height: 45px;
    }

    p {
      margin-bottom: 0;
      line-height: 16px;
      color: #767676;
    }
  }
}

// ----- END About section ----- //

// ----- Offer section ----- //

.offer {
  padding: 46px 20px 22px;
  background-image: url('../images/offer.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) { 
    background-image: url('../images/offer@2x.jpg');
  }

  h1 {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 23px;
    line-height: 32px;
    color: #fff;
  }

  &__wrapper {
    margin-bottom: 114px;

    p {
      line-height: 22px;
      color: rgba(255, 255, 255, 0.7);
    }

    p.shorter-text {
      display: initial;
    }

    p.longer-text {
      display: none;
    }
  }

  input {
    margin-bottom: 10px;
    outline: none;
    border: none;
    border-radius: 15px;
    padding: 16px 21px 17px;
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    color: #ABABAB;
    background: #fff;
  }

  button {
    width: 100%;
    font-weight: 500;
    font-size: 15px;
    line-height: 19px;
  }

  .form {
    &__items {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      width: 100%;
    }
  }
}

// ----- END Offer section ----- //

// ----- News section ----- //

.news {
  padding: 63px 20px 17px;
  background: #F1F6FC;

  h1 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
  }

  hr {
    margin-bottom: 40px;
  }

  &__items {
    display: grid;
    grid-auto-rows: 1fr;
  }

  &__item {
    margin-bottom: 20px;
    border-radius: 30px;
    padding: 20px;
    background: #fff;

    h2 {
      margin-top: 0;
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      opacity: 0.9;
    }

    p {
      margin-bottom: 50px;
      line-height: 23px;
      color: #767676;
      opacity: 0.9;
    }
  }

  &__bottom-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    p {
      margin-bottom: 0;
      font-size: 15px;
      line-height: 23px;
      line-height: 0;
      color: #888888;
      opacity: 0.9;
    }

    button {
      border-radius: 20px;
      padding: 6px 22px;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      color: #358BF2; // Здесь в макете для текста внутри кнопки указана своя прозрачность. CSS не позволяет обратиться напрямую к текстовому узлу внутри элемента, поэтому я просто вручную пересчитал цвет, как если бы синий цвет с прозрачностью лежал на светло-синем непрозрачном фоне.
      background: #F1F6FC;
    }
  }
}

// ----- END News section ----- //

// ----- Contact section ----- //

.contact {
  padding: 17px 20px 37px;

  h1 {
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 53px;
    opacity: 0.9;
  }

  hr {
    margin-bottom: 30px;
  }

  h2 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
  }

  p {
    margin-bottom: 50px;
    font-size: 15px;
    line-height: 23px;
    color: #373737;
    opacity: 0.9;
  }

  button {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }

  span {
    margin-right: 15px;
    margin-bottom: 50px;
  }

  &__map {
    border-radius: 15px;
    height: 230px;
    background-image: url('../images/map.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media
    only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (   min--moz-device-pixel-ratio: 2),
    only screen and (     -o-min-device-pixel-ratio: 2/1),
    only screen and (        min-device-pixel-ratio: 2),
    only screen and (                min-resolution: 192dpi),
    only screen and (                min-resolution: 2dppx) { 
      background-image: url('../images/map@2x.jpg');
    }
  }
}

// ----- END Contact section ----- //

@include desktop {

  .click-me {
    display: initial;
  }

  .sprite-callback {
    display: initial;
  }

  .nav {
    padding: 25px 250px 25px;

    &__logo {

      h1 {
        margin: 0;
        margin-left: 15px;
        font-size: 20px;
        line-height: 24px;
      }
    }

    &__links {
      display: flex;
    }

    &__contact {
      display: flex;
    }
  }

  .menu-btn {
    visibility: hidden;
  }

  .main-section {
    padding: 216px 250px 116px;

    h1 {
      margin-bottom: 30px;
      font-size: 60px;
      line-height: 70px;
    }

    p {
      margin-bottom: 50px;
      width: 450px;
      font-size: 16px;
      line-height: 30px;
    }

    button {
      font-size: 16px;
      line-height: 19px;
    }
  }

  .photo {
    height: 750px;
  }

  .about {

    &__container {
      padding: 120px 250px 127px;

      h1 {
        margin: 0;
        font-size: 38px;
        line-height: 53px;
      }

      hr {
        margin-bottom: 0;
      }

      p {
        width: 525px;
        font-size: 18px;
        line-height: 29px;
      }
    }

    &__wrapper {
      display: flex;
      margin-bottom: 70px;

      div {
        width: 50%;
      }
    }

    &__items {
      display: grid;
      justify-content: space-between;
      grid-gap: 30px;
      grid-template-columns: repeat(4, 1fr);
    }

    &__item {
      margin-bottom: 0;
      padding-bottom: 40px;

      p {
        width: 100%;
        font-size: 15px;
        line-height: 18px;
      }
    }
  }

  .offer {
    padding: 120px 350px;

    h1 {
      margin-bottom: 27px;
      font-weight: 500;
      font-size: 38px;
      line-height: 45px;
    }

    &__wrapper {
      margin-bottom: 100px;
      width: 360px;

      p {
        width: 360px;
        font-size: 18px;
        line-height: 24px;
      }

      p.shorter-text {
        display: none;
      }

      p.longer-text {
        display: initial;
      }
    }

    form {
      width: 345px;

      button {
        font-size: 16px;
      }
    }
  }

  .news {
    padding: 120px 250px;

    h1 {
      font-size: 32px;
      line-height: 53px;
      opacity: 0.9;
    }

    hr {
      margin-bottom: 50px;
    }

    &__items {
      display: grid;
      justify-content: space-between;
      grid-gap: 30px;
      grid-template-columns: repeat(3, 1fr);
    }

    &__item {

      h2 {
        font-size: 23px;
        line-height: 30px;
      }

      p {
        font-size: 15px;
      }
    }

    &__item:hover {
      box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);

      h2 {
        color: #207FF1;
        opacity: 0.9;
      }

      button {
        color: #fff;
        background: #207FF1;
        opacity: 0.9;
      }
    }
  }

  .contact {
    padding: 120px 250px 185px;

    h1 {
      margin-bottom: 30px;
      line-height: 0;
    }

    hr {
      margin-top: 54px;
    }

    span {
      margin-bottom: 0;
    }

    &__items {
      display: grid;
      justify-content: space-between;
      grid-gap: 30px;
      grid-template-columns: 2fr 5fr;
    }

    &__item {
      width: 100%;
    }

    &__map {
      width: 100%;
      height: 100%;
      background-image: url('../images/map.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      @media
      only screen and (-webkit-min-device-pixel-ratio: 2),
      only screen and (   min--moz-device-pixel-ratio: 2),
      only screen and (     -o-min-device-pixel-ratio: 2/1),
      only screen and (        min-device-pixel-ratio: 2),
      only screen and (                min-resolution: 192dpi),
      only screen and (                min-resolution: 2dppx) { 
        background-image: url('../images/map@2x.jpg');
      }
    }
  }
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  display: none;
  overflow: auto;
  padding-top: 100px;
  width: 100%; 
  height: 100%;
  background-color: rgba(76, 135, 236, 0.25);
}

.modal-close {
  position: relative;
}

.modal-close-area {
  position: absolute;
  right: 0;
  border-radius: 0px 30px;
  width: 64px;
  height: 54px;
  background: #F1F6FC;
}

.modal-content {
  display: relative;
  margin: auto;
  border-radius: 30px;
  width: 580px;
  box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.15);
  background: #fff;

  .modal-main {
    padding: 10px 40px 20px;

  }
  h1 {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
  }

  p {
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 21px;
    color: #767676;
  }

  label {
    display: block;
    margin-bottom: 7px;
    margin-left: 10px;
    font-size: 15px;
    line-height: 18px;
    color: #767676;
  }

  input {
    display: block;
    margin-bottom: 20px;
    outline: none;
    border: 1px solid #C4C4C4;
    border-radius: 15px;
    padding: 16px 20px;
    font-size: 18px;
    line-height: 21px;
    color: #9F9F9F;
  }

  input[type=text] {
    width: 100%;
  }

  textarea {
    margin-bottom: 30px;
    outline: none;
    border: 1px solid #C4C4C4;
    border-radius: 15px;
    padding: 16px 20px;
    width: 500px;
    height: 200px;
    font-size: 18px;
    line-height: 21px;
    color: #9F9F9F;
    resize: none;
  }

  input[type=submit] {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    background: #207FF1;
    cursor: pointer;
  }
}

.list {

  display: flex;
  justify-content: space-between;
  gap: 30px;

    &__container {
      position: relative;
      display: block;
      align-items: center;
      margin-bottom: 18px;
      padding-left: 25px;
      cursor: pointer;
      user-select: none;
    }
  }

.list__container--input {
  display: none !important;

  &:checked {
    ~ .list__container--checkmark {
      border: none;
      background-color: #207FF1;
    }

    ~ .list__container--checkmark::after {
      display: block;
    }
  }
}

.list__container--checkmark {
  position: absolute;
  left: -11px;
  border: 1px solid #c4c4c4;
  border-radius: 6px;
  width: 19px;
  height: 19px;
  background: #fff;

  &::after {
    content: "";
    position: absolute;
    left: 7px;
    top: 4px;
    display: none;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    width: 6px;
    height: 9px;
    transform: rotate(45deg);
  }
}

.modal-close-btn {
  position: absolute;
  right: 24px;
  top: 25px;
  z-index: 1;
  width: 16px;
  height: 16px;
  cursor: pointer;

  &__burger {
    position: absolute;
    width: 16px;
    height: 2px;
    background: #207FF1;
    transform: rotate(45deg) translate(0px, 0px);

    &:after {
      content: "";
      position: absolute;
      right: 0;
      top: 10px;
      width: 16px;
      height: 2px;
      background: #207FF1;
      transform: rotate(90deg) translate(-10px, 0px);
    }
  }
}